# daphne 시스템 데몬파일

[Unit]
Description=daphne daemon

[Service]
User=root
Group=root
WorkingDirectory=/app/airbnb-clone/

Environment="DJANGO_SETTINGS_MODULE=config.settings"
ExecStart=/app/myvenv/bin/daphne -b 0.0.0.0 -p 8080 --access-log /var/log/daphne/daphne.log config.asgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort
PrivateTmp=true
StandardError=file:/tmp/daphne-error.log

[Install]
WantedBy=multi-user.target


/root/Env/24bot/bin/daphne -e ssl:8443:privateKey=/etc/letsencrypt/live/3ab7cf4c.ngrok.io/privkey.pem:certKey=/etc/letsencrypt/live/3ab7cf4c.ngrok.io/cert.pem 

--verbosity 0 

 

chatbot_project.asgi:application