# uwsgi 시스템 데몬파일

[Unit]
Description=uWSGI service
After=syslog.target
[Service]
ExecStart=/project/venv/bin/uwsgi -i /project/airbnb-clone/.config/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
[Install]
WantedBy=multi-user.target